$primaryColor: #E0B973;
$greyColor: #14274A;



$fsNormal: 2.2rem;
$fsLarge: 2.5rem;
$fsXl: 4rem;
$fs2Xl: 5rem;

$fsNormal-laptop: 2rem;
$fsLarge-laptop: 2.3rem;
$fsXl-laptop: 3.8rem;
$fs2Xl-laptop: 4.6rem;

$fsNormal-tablet: 1.8rem;
$fsLarge-tablet: 2.1rem;
$fsXl-tablet: 3.6rem;
$fs2Xl-tablet: 4.4rem;


$rounded: 0.8rem;

$breakpoint-laptop: 1366px;
$breakpoint-tablet: 940px;
$breakpoint-mobile: 768px;