$primaryColor: #E0B973;
$greyColor: #14274A;



$fsNormal: 2.2rem;
$fsLarge: 2.5rem;
$fsXl: 4rem;
$fs2Xl: 5rem;

$fsNormal-laptop: 2rem;
$fsLarge-laptop: 2.3rem;
$fsXl-laptop: 3.8rem;
$fs2Xl-laptop: 4.8rem;

$rounded: 0.8rem;

$breakpoint-laptop: 1366px;
$breakpoint-tablet: 768px;