@use '../../components/color/colors.scss' as *;

.testimonials {
    margin-top: 10rem;
    font-size: $fsNormal;
    text-align: center;

    @media (max-width: $breakpoint-laptop) {
        font-size: $fsNormal-laptop;
    }

    @media (max-width: $breakpoint-tablet) {
        font-size: $fsNormal-tablet;
    }

    h2 {
        font-weight: 700;
        font-size: $fsXl;
        margin-bottom: 3rem;

        @media (max-width: $breakpoint-laptop) {
            font-size: $fsXl-laptop;
        }

        @media (max-width: $breakpoint-tablet) {
            font-size: $fsXl-tablet;
        }
    }

    blockquote {
        font-size: $fsLarge;

        @media (max-width: $breakpoint-laptop) {
            font-size: $fsLarge-laptop;
        }

        @media (max-width: $breakpoint-tablet) {
            font-size: $fsLarge-tablet;
        }
    }

    p {
        margin: 1.8rem 0;
    }

    div {
        display: flex;
        justify-content: center;
        gap: 2rem;

        .icon {
            background-color: $primaryColor;
            color: #fff;
            padding: 0.8rem 1.2rem;
            border-radius: $rounded;
            font-weight: 700;
            height: 5rem;
            width: 5rem;

            @media (max-width: $breakpoint-tablet) {
                height: 4.3rem;
                width: 4.3rem;
            }
        }
    }
}