@use '../../components/color/colors.scss' as *;

.faciBody-lists {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;

    .faciBody-item {
        position: relative;

        img {
            width: 100%;
            height: fit-content;
        }

        p {
            position: absolute;
            font-size: $fsLarge;
            text-transform: uppercase;
            font-weight: 700;
            background-color: #fff;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 1.6rem 0;
            z-index: 10;
            width: 50%;
            text-align: center;

            @media (max-width: $breakpoint-laptop) {
                font-size: $fsLarge-laptop;
                width: 40%;
            }

            @media (max-width: $breakpoint-tablet) {
                font-size: $fsLarge-tablet;
            }

            @media (max-width: $breakpoint-mobile) {
                font-size: 1.8rem;
                width: 60%;
                padding: 1rem 0;
            }
        }

        .overlay {
            background-color: rgba(20, 39, 74, 0.30);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 3px;
        }
    }
}